<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>
</head>

<body>
    <div id="container-timer">
        7
    </div>

    <div id="container">
        <div id="left">
            0
        </div>
        <div id="base-left-box">
            <button class="button-box" onClick="onLeft()">
                <h1 class=" green">LIKE</h1>
            </button>
        </div>
        <div id="right">
            0
        </div>
        <div id="base-right-box">
            <button class="button-box" onClick="onRight()">
                <h1 class=" red">DISLIKE</h1>
            </button>
        </div>
    </div>

    <footer>
        <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♡
    </footer>
</body>