<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>

</head>

<body>
    <div id="container-timer">
        7
    </div>
    <div id="container">
        <div id="success-box">
            <img src="{{ img1 }}"></img>
        </div>
        <div id="error-box">
            <img src="{{ img2 }}"></img>
        </div>
    </div>

    <footer>
        <p>made by <a href="https://codepen.io/juliepark"> julie</a> ♡
    </footer>
</body>