<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/static.css') }}">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" type="text/javascript"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"
        type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jQuery-QueryBuilder/dist/js/query-builder.standalone.min.js"></script>
    <script src="{{ url_for('static', filename='js/code.js') }}"></script>
</head>


<body>
    <div class="devider">
        <div class="row">
            <div class="column">
                <p>SELECT</p>
            </div>
        </div>
    </div>
    <div class="devider">
        <div class="row">
            <label class="btn-xs btn-primary">
                <input id="selectAll" type="checkbox" name="selectAll" value="selectAll"> Select/Clear All
            </label>
        </div>
    </div>
    <div class="devider">

        <div class="row">
            Templates
            <select class="form" name="form">
                <option value="date">---</option>
                <option value="date">one</option>
                <option value="country">two</option>
                <option value="country_abbr">tree</option>
            </select>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="select">
                {% for item in columns %}
                <input type="checkbox" name={{ item|safe }} value={{ item|safe }}>
                <label for={{ item|safe }}>{{ item|safe }}</label><br>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="devider">
        <div class="row">
            <div class="column">
                <p>Filters</p>
            </div>
        </div>
    </div>

    <div class="devider">
        <div class="row">
            <div id="builder"> </div>
        </div>
    </div>

    <div class="devider">
        <div class="row">
            <div class="column">
                <button class="btn btn-primary parse-json apply"> Apply</button>
                <a class="download" download href="" hidden>
                    <button class="btn btn-success parse-json"> Download</button>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="query">
                <p></p>
            </div>
        </div>
    </div>
    <div class="devider">
        <div class="row">
            <div class="table">
            </div>
        </div>
    </div>
</body>